table {
	/*border-collapse: collapse;*/
	border-spacing: 0;
}

table, th, td {
    border: 1px solid gray;
}

#container { /*for demo purpose only*/
	padding: 20px;
}

.wapCalc { /*entire top-level element (table+input+button+help)*/
	padding:20px;
	margin: 10px;
	border: 1px dotted black;
	float:right;
}

.wapTable { /*table*/
	float:right;
}

.activeWc { /*active top-level element*/
	border: 2px solid black;
	background-color: #e6e6ff
}

.wapRowHeader, .wapColHeader { /*table headers*/
	text-align:center; 
	vertical-align:middle;
	
}

.wapRow { /*table row*/
	height: 50px;
}

.wapCell { /*table cell*/
	width: 500px;
	background-color: white;
	text-align:center; 
	vertical-align:middle;
}

.selected{ /*table's selected cells*/
	background-color: #ffcccc;
}

.currentCell { /*table's current cell*/
	border: 3px solid purple;
}

.ciInput { /*cell input style*/
	margin-bottom: 10px;
	height: 30px;
	width: 60%;
	float:right;
	border: 1px solid black;
	padding-left: 10px;
}

.delBtn { /*delete button style*/
	width: 20%;
	height: 33px;
	background-color: white;
	border: 1px dotted black;
}

